*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head,body{
    width: 100%;
    height: 100%;
}

@mixin flex-coloum($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin flex-eow($gap:0rem){
    display: flex;
    flex-direction: row;
    gap: $gap;
}


main{
    width: 100%;
    @include flex-coloum(1rem);
    color: #CFB2BF;

    nav{
        width:100%;
        color: black;
        @include flex-eow(1rem);
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem;
        
        
        a{
            text-decoration: none;
            padding: 1rem;
            text-transform: capitalize;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #CFB2BF;
            
        }
       

       
    }

    section.hero{
        width: 100%;

        .all-section{
            width: 100%;

            h1{
                text-align: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-transform: uppercase;
            }

            .text{

                h2{
                    text-align: center;
                    margin-top: 1rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }


            .buttom{
                text-align: center;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 0.5rem;
            }
        }
    }

    section.view0{
        width: 100%;
        @include flex-coloum(1rem);
        padding: 0.5rem;
        

        .all-section{
            width: 100%;
            padding: 0.5rem;
            @include flex-coloum(1rem);
            
            
            .all-cards{
                text-align: center;
                padding: 0.5rem;
                border-radius: 30px;
                @include flex-coloum(1rem);
        


                .card1{
                    background-color: #C6A8BA;
                    border-radius: 30px;
                    color: white;
                    padding: 0.5rem;
                    

                    h1{
                        text-transform: capitalize;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        
                    }


                    .text{

                        p{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                    }
                }


                .card2{
                    background-color: #C6A8BA;
                    border-radius: 30px;
                    color: white;
                    padding: 0.5rem;
                    

                    h1{
                        text-transform: capitalize;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        
                    }


                    .text{

                        p{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                    }
                }


                .card3{
                    background-color: #C6A8BA;
                    border-radius: 30px;
                    color: white;
                    padding: 0.5rem;
                    

                    h1{
                        text-transform: capitalize;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        
                    }


                    .text{

                        p{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                    }
                }
            }
        }
    }

    section.view1{
        @include flex-coloum(1rem);


        .all-section{
            @include flex-coloum(1rem);


            .top{
                width: 100%;
                padding: 0.5rem;

                

                h1{
                    text-transform: capitalize;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }

                p{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    
                }


                .button{
                    width: 100%;

                    .one{
                        width: 120px;
                        height: 30px;
                        margin-top: 1rem;
                        margin-left: 3rem;
                        border-radius: 30px;
                        border: 0.5px solid #CFB2BF;
                    }

                    .two{
                        height: 30px;
                        width: 120px;
                        border-radius: 30px;
                        border: 0.5px solid #CFB2BF;
                    }


                    button:hover{
                        background-color: #CFB2BF;
                        color: white;
                        border: none;
                        transition: all 0.3s ease;
                    }
                }
            }


            .buttom{
                width: 100%;
                
                img{
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 2rem;
                }
            }
        }
    }

    section.view2{
        @include flex-coloum(1rem);


        .all-section{
            @include flex-coloum(1rem);


            .top{
                width: 100%;
                padding: 0.5rem;

                

                h1{
                    text-transform: capitalize;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }

                p{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    
                }


                .button{
                    width: 100%;

                    .one{
                        width: 120px;
                        height: 30px;
                        margin-top: 1rem;
                        margin-left: 3rem;
                        border-radius: 30px;
                        border: 0.5px solid #CFB2BF;
                    }

                    .two{
                        height: 30px;
                        width: 120px;
                        border-radius: 30px;
                        border: 0.5px solid #CFB2BF;
                    }


                    button:hover{
                        background-color: #CFB2BF;
                        color: white;
                        border: none;
                        transition: all 0.3s ease;
                    }
                }
            }


            .buttom{
                width: 100%;
                
                img{
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 2rem;
                }
            }
        }
    }


}




@media (min-width:786px) {
    main{
        
        nav{
            font-size: 2rem;
        }

        section.hero{
            width: 100%;
            
            
        }

        section.view0{
            width: 100%;
            display: flex;
            flex-direction: row;
            .all-section{
                width: 100%;
                display: flex;
                flex-direction: row;


                .all-cards{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                }
            }
        }

        section.view1{
            width: 100%;
            display: flex;
            flex-direction: row;


            .all-section{
                display: flex;
                flex-direction: row;
            }


            .top,.buttom{
                width: 50%;
            }



            .top{
                width: 100%;
                margin: 2rem;
                h1{
                    font-size: 2.5rem;
                }

                p{
                    font-size: 2rem;
                    margin-top: 4rem;
                }


                .button{
                    margin-top: 3rem;
                    margin-left: 2rem;
                    
                }


                button{
                    width: 200px;
                    height: 50px;
                }
            }
            
        }



        section.view2{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;


            .all-section{
                display: flex;
                flex-direction: row-reverse;
            }


            .top,.buttom{
                width: 50%;
            }



            .top{
                width: 100%;
                margin: 2rem;
                h1{
                    font-size: 2.5rem;
                }

                p{
                    font-size: 2rem;
                    margin-top: 4rem;
                }


                
            }
            
        }



        
    }
}