*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

@mixin flex-coloum($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin flex-eow($gap:0rem){
    display: flex;
    flex-direction: row;
    gap: $gap;
}


main{
    width: 100%;
    @include flex-coloum(1rem);
    color: #CFB2BF;

    nav{
        width:100%;
        color: black;
        @include flex-eow(1rem);
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem;
        
        
        a{
            text-decoration: none;
            padding: 1rem;
            text-transform: capitalize;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #CFB2BF;
            
        }
       

       
    }

    section.hero{
        width: 100%;

        .all-section{
            width: 100%;

            h1{
                text-align: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-transform: uppercase;
            }

            .text{

                h2{
                    text-align: center;
                    margin-top: 1rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }


            .buttom{
                text-align: center;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 0.5rem;
            }
        }
    }

    section.view0{
        width: 100%;
        @include flex-coloum(1rem);
        padding: 0.5rem;
        

        .all-section{
            width: 100%;
            padding: 0.5rem;
            @include flex-coloum(1rem);
            
            
            .all-cards{
                text-align: center;
                padding: 0.5rem;
                border-radius: 30px;
                @include flex-coloum(1rem);
        


                .card1{
                    background-color: #C6A8BA;
                    border-radius: 30px;
                    color: white;
                    padding: 0.5rem;
                    

                    h1{
                        text-transform: capitalize;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        
                    }


                    .text{

                        p{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                    }
                }


                .card2{
                    background-color: #C6A8BA;
                    border-radius: 30px;
                    color: white;
                    padding: 0.5rem;
                    

                    h1{
                        text-transform: capitalize;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        
                    }


                    .text{

                        p{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                    }
                }


                .card3{
                    background-color: #C6A8BA;
                    border-radius: 30px;
                    color: white;
                    padding: 0.5rem;
                    

                    h1{
                        text-transform: capitalize;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        
                    }


                    .text{

                        p{
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }
                    }
                }
            }
        }
    }

    section.view1{
        @include flex-coloum(1rem);


        .all-section{
            @include flex-coloum(1rem);


            .top{
                width: 100%;
                padding: 0.5rem;

                

                h1{
                    text-transform: capitalize;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }

                p{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    
                }


                .button{
                    width: 100%;

                    .one{
                        width: 120px;
                        height: 40px;
                        margin-top: 1rem;
                        margin-left: 3rem;
                        border-radius: 30px;
                        border: none;
                    }

                    .two{
                        height: 40px;
                        width: 120px;
                        border-radius: 30px;
                        border: none;
                    }


                    button:hover{
                        background-color: #CFB2BF;
                        color: white;
                        border: none;
                        transition: all 0.3s ease;
                    }
                }
            }


            .buttom{
                width: 100%;
                
                img{
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 2rem;
                }
            }
        }
    }

    section.view2{
        @include flex-coloum(1rem);


        .all-section{
            @include flex-coloum(1rem);


            .top{
                width: 100%;
                padding: 0.5rem;

                

                h1{
                    text-transform: capitalize;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }

                p{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    
                }


                .button{
                    width: 100%;

                    .one{
                        width: 120px;
                        height: 30px;
                        margin-top: 1rem;
                        margin-left: 3rem;
                        border-radius: 30px;
                        border: 0.5px solid #CFB2BF;
                    }

                    .two{
                        height: 30px;
                        width: 120px;
                        border-radius: 30px;
                        border: 0.5px solid #CFB2BF;
                    }


                    button:hover{
                        background-color: #CFB2BF;
                        color: white;
                        border: none;
                        transition: all 0.3s ease;
                    }
                }
            }


            .buttom{
                width: 100%;
                
                img{
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 2rem;
                }
            }
        }
    }


    section.view3{
        width: 100%;

        .all-section{
            width: 100%;


            .top{
                width: 100%;
                background-color: none;
                padding: 0.5rem;

                .left{
                    width: 100%;
                    h1{
                        font-size: 1rem;
                        padding: 0.5rem;
                        text-transform: capitalize;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: 800;
                    }
                }

                .text{

                    p{
                        font-size: 1rem;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        padding: 0.5rem;
                        font-weight: 400;
                    }
                }


                .right{
                    width: 100%;

                    img{
                        width: 100%;
                        padding: 0.5rem;
                        border-radius: 30px;
                    }
                }
            }

            .buttom{
                width: 100%;
                background-color: none;
                padding: 0.5rem;

                .left{
                    width: 100%;
                    h1{
                        font-size: 1rem;
                        padding: 0.5rem;
                        text-transform: capitalize;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: 800;
                    }
                }

                .text{

                    p{
                        font-size: 1rem;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        padding: 0.5rem;
                        font-weight: 400;
                    }
                }


                .right{
                    width: 100%;

                    img{
                        width: 100%;
                        padding: 0.5rem;
                        border-radius: 30px;
                    }
                }
            }
            
        }
    }

    section.view4{
        width: 100%;

        .all-section{
            width: 100%;

            .photo{
                width: 100%;


                img{
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 30px;
                }
            }
        }
    }

    section.view5{
        width: 100%;

        .all-section{
            width: 100%;
            background-color: #CFB2BF;
            padding: 0.5rem;
            border-radius: 30px;

            .top{
                color: white;
                text-align: center;

                h1{
                    font-size: 1rem;
                    color: white;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }


                p{
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }


            .buttom{
                color: white;
                text-align: center;


                h1{
                    font-size: 1rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
        }
    }

    section.view6{
        width: 100%;

        .all-section{
            width: 100%;

            .top{
                width: 100%;


                h2{
                    font-size: 1.5rem;
                    text-align: center;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }


            .buttom{
                width: 100%;
                text-align: center;
                padding: 0.5rem;

                button{
                    height: 40px;
                    width: 120px;
                    border-radius: 30px;
                    border: none;
                }


                button:hover{
                    background-color: #C6A8BA;
                    color: white;
                    transition: all 0.3s ease;
                }


                .three{
                    margin-top: 20px;
                }
            }

        }
    }

    footer{
        width: 100%;

        .all-footer{
            width: 100%;

            .line{
                width: 1000px;
                height: 5px;
                background-color: #C6A8BA;
                display: flex;
                justify-content: center;

            }
            .top{
                width: 100%;
                display: flex;
                justify-content: space-around;



                h5{
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    text-transform: capitalize;
                    font-weight: normal;
                }
            }


            .buttom{
                width: 100%;
                display: flex;
                justify-content: space-around;


                h5{
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    text-transform: capitalize;
                    font-weight: normal;
                }
            }
        }
    }


}




@media (min-width:786px) {
    main{
        
        nav{
            font-size: 2rem;
        }

        section.hero{
            width: 100%;
            
            
        }

        section.view0{
            width: 100%;
            display: flex;
            flex-direction: row;
            .all-section{
                width: 100%;
                display: flex;
                flex-direction: row;


                .all-cards{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                }
            }
        }

        section.view1{
            width: 100%;
            display: flex;
            flex-direction: row;


            .all-section{
                display: flex;
                flex-direction: row;
            }


            .top,.buttom{
                width: 50%;
            }



            .top{
                width: 100%;
                margin: 2rem;
                h1{
                    font-size: 2.5rem;
                }

                p{
                    font-size: 2rem;
                    margin-top: 4rem;
                }


                .button{
                    margin-top: 3rem;
                    margin-left: 2rem;
                    
                }


                button{
                    width: 200px;
                    height: 50px;
                }
            }
            
        }

        section.view2{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;


            .all-section{
                display: flex;
                flex-direction: row-reverse;
            }


            .top,.buttom{
                width: 50%;
            }



            .top{
                width: 100%;
                margin: 2rem;
                h1{
                    font-size: 2.5rem;
                }

                p{
                    font-size: 2rem;
                    margin-top: 4rem;
                }


                
            }
            
        }


        section.view3{
            width: 100%;
            @include flex-eow(1rem);
            .all-section{
                width: 100%;
                @include flex-eow(1rem);


                .top{
                    width: 100%;

                    .left{

                        h1{
                            font-size: 2rem;
                        }

                        .text{
                            
                            p{
                                font-size: 2rem;
                            }
                        }
                    }
                }


                .buttom{
                    width: 100%;


                    .left{

                        h1{
                            font-size: 2rem;
                        }

                        .text{


                            p{
                                font-size: 2rem;
                            }
                        }
                    }
                }
                

                
            }


            .top,.buttom{
                width: 50%;
            }
        }


        section.view5{
            width: 100%;

            .all-section{
                width: 100%;


                .top{


                    h1{
                        font-size: 2rem;
                    }


                    p{
                        font-size: 2rem;
                    }
                }


                .buttom{

                    h1{
                        font-size: 2rem;
                    }

                    p{
                        font-size: 2rem;
                    }
                }
            }
        }


        footer{
            width: 100%;
            padding: 1rem;

            .all-footer{
                width: 100%;


                .line{
                    margin-left: 450px;
                }



                .top{
                    padding: 1rem;
                }

                .buttom{
                    padding: 1rem;
                }
            }
        }



        
    }
}